<div class="flex flex-wrap -mx-3">
  <div class="w-full max-w-full px-3 sm:flex-0 shrink-0 sm:w-4/12 lg:w-3/12">
    <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white shadow-sm rounded-lg bg-clip-border p-6">
      <div class="flex items-center content-center min-h-[350px] gap-x-6">
          <!-- Start Drop Zone -->
          <div
            class="relative flex flex-col outline-gray-500 outline-2 -outline-offset-4 outline-dashed w-[350px] h-[350px] rounded-2xl items-center justify-center"
          >
            <input
              #fileInput
              type="file"
              class="absolute w-full h-full cursor-pointer opacity-0 top-0 left-0"
            />

            <span class="mb-6">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-10 h-10">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15m0-3-3-3m0 0-3 3m3-3V15" />
              </svg>
            </span>

            <p class="text-center text-base max-w-[90%]">
              Drag and drop <br />
              file here to upload. <br />
              (PNG, JPG, SVG)
            </p>

            <button
              type="button"
              class="z-10 mt-6 text-green-50 px-6 py-3 bg-green-500 rounded-lg font-medium text-base hover:bg-green-600 ease-in-out"
            >
              Browse File
            </button>
          </div>
          </div>
    </div>

    <div class="relative flex flex-col min-w-0 mb-6 break-words bg-white shadow-sm rounded-lg bg-clip-border">
      bbb
    </div>
  </div>
</div>
