<div class="fixed inset-0 flex items-center justify-center z-50 w-full">
  <div class="bg-white p-6 w-full h-full min-h-full">

    <!-- header -->
    <div class="w-full px-6 mb-20">

      <div class="flex items-center">
        <!-- logo -->
        <div class="flex text-left">
          <img src="/images/logo.svg" class="inline h-full max-w-full max-h-10" alt="main_logo" width="40px"/>
        </div>

        <!-- title -->
        <div class="flex-auto max-w-[1340px] mx-auto">
          <h2 class="leading-normal text-2xl text-slate-500 text-center lg:text-left">
            Nuova Sala
          </h2>
        </div>

        <!-- close -->
        <div class="flex justify-end">
          <button (click)="closeDialog()"
                  class="group w-12 h-12 rounded-full bg-slate-100 hover:bg-red-500 hover:scale-110
                  transition duration-300 ease-in-out flex items-center justify-center">
            <fa-icon [icon]="faTimes" class="text-gray-600 group-hover:text-white text-2xl"></fa-icon>
          </button>
        </div>
      </div>

    </div>

    <!-- form -->
    <div class="max-w-[1340px] mx-auto">
      <fieldset [disabled]="isLoading$ | async">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="w-full mx-auto">
            <!-- code, name -->
            <div class="grid grid-cols-12 gap-4 mb-4">
              <div class="col-span-12 md:col-span-3">
                <mat-form-field appearance="outline">
                  <mat-label>Codice</mat-label>
                  <input matInput placeholder="Codice" formControlName="code"
                         [value]="code && code.value ? code.value.toUpperCase() : null">
                  @if (code.hasError('required')) {
                    <mat-error>Il campo <strong>codice</strong> è obbligatorio</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-span-12 md:col-span-9">
                <mat-form-field appearance="outline">
                  <mat-label>Nome della Sala</mat-label>
                  <input matInput placeholder="Nome della sala" formControlName="name">
                  @if (name.hasError('required')) {
                    <mat-error>Il campo <strong>nome della sala</strong> è obbligatorio</mat-error>
                  }
                </mat-form-field>
              </div>
            </div>

            <!-- capacity, floor, enabled, color -->
            <div class="grid grid-cols-12 gap-4 mb-4">
              <div class="col-span-12 md:col-span-3">
                <mat-form-field appearance="outline">
                  <mat-label>Capienza</mat-label>
                  <input matInput type="number" placeholder="Capienza" formControlName="capacity">
                </mat-form-field>
              </div>
              <div class="col-span-12 md:col-span-3">
                <mat-form-field appearance="outline">
                  <mat-label>Piano</mat-label>
                  <input matInput type="number" placeholder="Piano" formControlName="floor">
                </mat-form-field>
              </div>
              <div class="col-span-12 md:col-span-3 flex items-center">
                <mat-form-field appearance="outline">
                  <mat-label>Colore</mat-label>
                  <input matInput formControlName="color"/>
                  <ngx-colors
                    class="suffix"
                    matSuffix
                    ngx-colors-trigger
                    formControlName="picker"
                    [acceptLabel]="'Seleziona'"
                    [cancelLabel]="'Cancella'"
                  ></ngx-colors>
                  @if (color.hasError('invalidColor')) {
                    <mat-error>Seleziona un <strong>colore</strong> valido</mat-error>
                  }
                  @if (color.hasError('required')) {
                    <mat-error>Il campo <strong>colore</strong> è obbligatorio</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-span-12 md:col-span-3 flex items-center mb-5">

              </div>
            </div>

            <!-- description -->
            <div class="grid grid-cols-1 gap-4">
              <mat-form-field appearance="outline">
                <mat-label>Descrizione</mat-label>
                <textarea matInput formControlName="description" style="min-height: 150px"
                          placeholder="Descrizione..."></textarea>
              </mat-form-field>
            </div>

            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
                    (click)="onSubmit()">
              Button
            </button>
          </div>
        </form>
      </fieldset>
    </div>

  </div>
</div>
