<div class="w-full max-w-full flex-0">

  <div class="relative flex flex-col min-w-0 break-words bg-white border-0 shadow-lg rounded-2xl
  bg-clip-border px-3 py-6">
    <div class="grid grid-cols-3">
      <div class="col-span-3 lg:col-span-1">
        <mat-form-field appearance="outline">
          <input matInput (keyup)="applyFilter($event)" placeholder="cerca..." [formControl]="globalFilterCtrl">
          <fa-icon matSuffix [icon]="faGlass" class="mr-3"></fa-icon>
        </mat-form-field>
      </div>
      <div class="col-span-3 lg:col-span-1">

      </div>
      <div class="col-span-3 lg:col-span-1 flex justify-end items-center">
        <button class="font-normal ease-soft-in-out text-sm text-slate-500 hover:text-slate-800
rounded-2xl p-2 text-center transition-all hover:bg-slate-200
w-10 h-10 flex items-center justify-center mr-1"
                type="button" (click)="_toggleFilter()">
          <fa-icon [icon]="faPdf"></fa-icon>
        </button>
        <button class="font-normal ease-soft-in-out text-sm text-slate-500 hover:text-slate-800
rounded-2xl p-2 text-center transition-all hover:bg-slate-200
w-10 h-10 flex items-center justify-center mr-1"
                type="button" (click)="_toggleFilter()">
          <fa-icon [icon]="faExcel"></fa-icon>
        </button>
        <button class="font-normal ease-soft-in-out text-sm text-slate-500 hover:text-slate-800
rounded-2xl p-2 text-center transition-all hover:bg-slate-200
w-10 h-10 flex items-center justify-center mr-1"
                type="button" (click)="_toggleFilter()">
          <fa-icon [icon]="faFilter"></fa-icon>
        </button>
        @if(activeFilter) {
          <button class="font-normal ease-soft-in-out text-sm text-red-500 hover:text-red-700
rounded-2xl p-2 text-center transition-all hover:bg-slate-200
w-10 h-10 flex items-center justify-center mr-1"
                  type="button" (click)="_clearFilter()">
            <fa-icon [icon]="faFilterClear"></fa-icon>
          </button>
        }
        <button class="font-normal ease-soft-in-out text-sm text-slate-500 hover:text-slate-800
rounded-2xl p-2 text-center transition-all hover:bg-slate-200
w-10 h-10 flex items-center justify-center mr-1"
                type="button" (click)="_toggleFilter()">
          <fa-icon [icon]="faFilter"></fa-icon>
        </button>
        <button class="font-normal ease-soft-in-out text-sm text-slate-500 hover:text-slate-800
rounded-2xl p-2 text-center transition-all hover:bg-slate-200
w-10 h-10 flex items-center justify-center"
                type="button" (click)="openDialog(emptyDoc)">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </div>
    </div>

    <div class="overflow-x-auto">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> #</th>
          <td mat-cell
              *matCellDef="let row; let i = index">
            @if (row) {
              {{ i + (paginator.pageIndex * paginator.pageSize) + 1 }}
            }
          </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Codice</th>
          <td mat-cell *matCellDef="let row">
            <div class="flex items-center">
              <div class="w-4 h-4 rounded-full mr-2" [style.background-color]="row.color"></div>
              <span>{{ row.code }}</span>
            </div>

          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sede</th>
          <td mat-cell *matCellDef="let row"> {{ row.name }}</td>
        </ng-container>

        <!-- description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrizione</th>
          <td mat-cell *matCellDef="let row"> {{ row.description }}</td>
        </ng-container>

        <!-- map Column -->
        <ng-container matColumnDef="map" stickyEnd>
          <th mat-header-cell *matHeaderCellDef class="text-center"> Mappa</th>
          <td mat-cell *matCellDef="let row" class="text-center">
            <div class="w-full flex justify-center">
              <button class="font-normal ease-soft-in-out text-sm text-slate-500 hover:text-slate-800
            rounded-2xl p-2 text-center transition-all hover:bg-slate-200
            w-10 h-10 flex items-center justify-center
            disabled:opacity-50 disabled:cursor-not-allowed" [disabled]="!row.address.latitude || !row.address.longitude"
                    (click)="_openMap(row)" type="button">
              <fa-icon [icon]="faLocationDot"></fa-icon>
            </button>
            </div>
          </td>
        </ng-container>

        <!-- edit Column -->
        <ng-container matColumnDef="modify" stickyEnd>
          <th mat-header-cell *matHeaderCellDef class="text-center"> Modifica</th>
          <td mat-cell *matCellDef="let row" class="text-center">
            <div class="w-full flex justify-center">
              <button class="font-normal ease-soft-in-out text-sm text-slate-500 hover:text-slate-800
            rounded-2xl p-2 text-center transition-all hover:bg-slate-200
            w-10 h-10 flex items-center justify-center"
                    (click)="openDialog(row)" type="button">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
            </div>

          </td>
        </ng-container>

        <!-- delete Column -->
        <ng-container matColumnDef="delete" stickyEnd>
          <th mat-header-cell *matHeaderCellDef class="text-center"> Elimina</th>
          <td mat-cell *matCellDef="let row" class="text-center">
            <div class="w-full flex justify-center">
              <button class="font-normal ease-soft-in-out text-sm text-slate-500 hover:text-slate-800
            rounded-2xl p-2 text-center transition-all hover:bg-slate-200
            w-10 h-10 flex items-center justify-center"
                    (click)="openDialog(row)" type="button">
              <fa-icon [icon]="faTrash"></fa-icon>
            </button>
            </div>
          </td>
        </ng-container>

        <!-- Filters -->
        <form [formGroup]="filterForm">
          <ng-container matColumnDef="f_id">
            <th mat-header-cell *matHeaderCellDef></th>
          </ng-container>

          <ng-container matColumnDef="f_code">
            <th mat-header-cell *matHeaderCellDef>
              <input (click)="$event.stopPropagation()"
                     (keyup)="singleFilter($event, 'code')"
                     class="rounded-md py-1 px-3 text-sm border
                   text-slate-500 placeholder:text-slate-400
                   bg-slate-100  hover:bg-slate-300
                   border-slate-200 hover:border-slate-300
                   focus:outline-none focus:border-slate-400 shadow-sm focus:shadow
                   transition duration-300 ease"
                     formControlName="code"
                     placeholder="">
            </th>
          </ng-container>

          <ng-container matColumnDef="f_name">
            <th mat-header-cell *matHeaderCellDef>
              <input (click)="$event.stopPropagation()"
                     (keyup)="singleFilter($event, 'name')"
                     class="rounded-md py-1 px-3 text-sm border
                   text-slate-500 placeholder:text-slate-400
                   bg-slate-100  hover:bg-slate-300
                   border-slate-200 hover:border-slate-300
                   focus:outline-none focus:border-slate-400 shadow-sm focus:shadow
                   transition duration-300 ease"
                     formControlName="name"
                     placeholder="">
            </th>
          </ng-container>

          <ng-container matColumnDef="f_descriptions">
            <th mat-header-cell *matHeaderCellDef>
              <input (click)="$event.stopPropagation()"
                     (keyup)="singleFilter($event, 'description')"
                     class="rounded-md py-1 px-3 text-sm border
                   text-slate-500 placeholder:text-slate-400
                   bg-slate-100  hover:bg-slate-300
                   border-slate-200 hover:border-slate-300
                   focus:outline-none focus:border-slate-400 shadow-sm focus:shadow
                   transition duration-300 ease"
                     formControlName="description"
                     placeholder="">
            </th>
          </ng-container>

          <ng-container matColumnDef="f_map" stickyEnd>
            <th mat-header-cell *matHeaderCellDef class="text-center"></th>
          </ng-container>

          <ng-container matColumnDef="f_modify" stickyEnd>
            <th mat-header-cell *matHeaderCellDef class="text-center"></th>
          </ng-container>

          <ng-container matColumnDef="f_delete" stickyEnd>
            <th mat-header-cell *matHeaderCellDef class="text-center"></th>
          </ng-container>
        </form>

        <tr mat-header-row *matHeaderRowDef="displayedColumns">
        </tr>
        <tr mat-header-row *matHeaderRowDef="filterColumns"
            [class.animate__fadeInDown]="isFiltersOpen"
            [class.animate__fadeOutUp]="!isFiltersOpen"
            [class.hidden]="!isFiltersOpen">
        </tr>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" aria-label="Select page"
                     showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
