<div class="w-full max-w-full flex-0">

  <div class="relative flex flex-col min-w-0 break-words bg-white border-0 shadow-soft-xl rounded-2xl
  bg-clip-border px-3 py-6">
    <div class="grid grid-cols-3">
      <div class="col-span-3 lg:col-span-1">
        <mat-form-field appearance="outline">

          <input matInput (keyup)="applyFilter($event)" placeholder="cerca...">
          <fa-icon matSuffix [icon]="faGlass" class="mr-3"></fa-icon>
        </mat-form-field>
      </div>
      <div class="col-span-3 lg:col-span-1">

      </div>
      <div class="col-span-3 lg:col-span-1 flex justify-end items-center">
        <button class="font-normal ease-soft-in-out text-sm text-slate-500 hover:text-slate-800
            rounded-2xl p-2 text-center transition-all hover:bg-slate-200
            w-10 h-10 flex items-center justify-center mr-2"
                type="button" (click)="_toggleFilter()">
          <fa-icon [icon]="faFilter"></fa-icon>
        </button>
        <button class="font-normal ease-soft-in-out text-sm text-slate-500 hover:text-slate-800
            rounded-2xl p-2 text-center transition-all hover:bg-slate-200
            w-10 h-10 flex items-center justify-center"
                type="button">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </div>
    </div>

    <div class="overflow-x-auto">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
          <td mat-cell *matCellDef="let row"> {{ row.id }}</td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Codice</th>
          <td mat-cell *matCellDef="let row"> {{ row.code }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sede</th>
          <td mat-cell *matCellDef="let row"> {{ row.name }}</td>
        </ng-container>

        <!-- description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrizione</th>
          <td mat-cell *matCellDef="let row"> {{ row.description }}</td>
        </ng-container>

        <!-- edit Column -->
        <ng-container matColumnDef="modify">
          <th mat-header-cell *matHeaderCellDef> Modifica</th>
          <td mat-cell *matCellDef="let row">
            <button class="block font-normal ease-soft-in-out text-sm text-slate-500 hover:text-slate-800 mr-2
   rounded-2xl p-2 text-center transition-all
   hover:bg-slate-200"
                    (click)="openDialog(row)" type="button">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
          </td>
        </ng-container>

        <!-- delete Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Elimina</th>
          <td mat-cell *matCellDef="let row">
            <button class="block font-normal ease-soft-in-out text-sm text-slate-500 hover:text-slate-800 mr-2
   rounded-2xl p-2 text-center transition-all
   hover:bg-slate-200"
                    (click)="openDialog(row)" type="button">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
          </td>
        </ng-container>

        <!-- Filters -->
        <ng-container matColumnDef="f_id">
          <th mat-header-cell *matHeaderCellDef></th>
        </ng-container>

        <ng-container matColumnDef="f_code">
          <th mat-header-cell *matHeaderCellDef>
            <input (click)="$event.stopPropagation()"
                   (keyup)="singleFilter($event, 'code')"
                   class="rounded-md py-1 px-3 text-sm border
                   text-slate-500 placeholder:text-slate-400
                   bg-slate-100  hover:bg-slate-300
                   border-slate-200 hover:border-slate-300
                   focus:outline-none focus:border-slate-400 shadow-sm focus:shadow
                   transition duration-300 ease"
                   placeholder="">
          </th>
        </ng-container>

        <ng-container matColumnDef="f_name">
          <th mat-header-cell *matHeaderCellDef>
            <input (click)="$event.stopPropagation()"
                   (keyup)="singleFilter($event, 'name')"
                   class="rounded-md py-1 px-3 text-sm border
                   text-slate-500 placeholder:text-slate-400
                   bg-slate-100  hover:bg-slate-300
                   border-slate-200 hover:border-slate-300
                   focus:outline-none focus:border-slate-400 shadow-sm focus:shadow
                   transition duration-300 ease"
                   placeholder="">
          </th>
        </ng-container>

        <ng-container matColumnDef="f_descriptions">
          <th mat-header-cell *matHeaderCellDef>
            <input (click)="$event.stopPropagation()"
                   (keyup)="singleFilter($event, 'description')"
                   class="rounded-md py-1 px-3 text-sm border
                   text-slate-500 placeholder:text-slate-400
                   bg-slate-100  hover:bg-slate-300
                   border-slate-200 hover:border-slate-300
                   focus:outline-none focus:border-slate-400 shadow-sm focus:shadow
                   transition duration-300 ease"
                   placeholder="">
          </th>
        </ng-container>

        <ng-container matColumnDef="f_modify">
          <th mat-header-cell *matHeaderCellDef></th>
        </ng-container>

        <ng-container matColumnDef="f_delete">
          <th mat-header-cell *matHeaderCellDef></th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns">
        </tr>
        <tr mat-header-row *matHeaderRowDef="filterColumns"
            [class.animate__fadeInDown]="isFiltersOpen"
            [class.animate__fadeOutUp]="!isFiltersOpen"
            [class.hidden]="!isFiltersOpen">
        </tr>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div>


<button class="px-6 py-2
          bg-gradient-fuchsia
          shadow-soft-md hover:shadow-soft-2xl
          hover:scale-102
          font-bold text-center text-white uppercase align-middle text-size-xs
          border-0 rounded-3xl
          transition-all ease-in" (click)="openDialog(doc)">
  Button
</button>
