<div class="w-full max-w-full flex-0">
  <div
    class="relative flex flex-col min-w-0 break-words bg-white border-0 shadow-lg rounded-2xl bg-clip-border px-3 py-6">

    <!-- filters -->
    <div class="grid grid-cols-3">

      <!-- global filter -->
      <div class="col-span-3 lg:col-span-1">
        <mat-form-field appearance="outline">
          <input matInput (keyup)="applyFilter($event)" placeholder="cerca..." [formControl]="globalFilterCtrl">
          <fa-icon matSuffix [icon]="faGlass" class="mr-3"></fa-icon>
        </mat-form-field>
      </div>

      <!-- column select -->
      <div class="col-span-3 lg:col-span-1"></div>

      <!-- icons -->
      <div class="col-span-3 lg:col-span-1 flex justify-end items-center -mt-5">

        @if (canExportToPdf()) {
          <button class="font-normal ease-soft-in-out text-lg text-slate-500 hover:text-slate-800
          rounded-2xl p-2 text-center transition-all hover:bg-slate-200
          w-10 h-10 flex items-center justify-center mr-1"
                  type="button" (click)="_exportAsPDF()"
                  matTooltip="Esporta in PDF">
            <fa-icon [icon]="faPdf"></fa-icon>
          </button>
        }

        @if (canExportToXls()) {
          <button class="font-normal ease-soft-in-out text-lg text-slate-500 hover:text-slate-800
          rounded-2xl p-2 text-center transition-all hover:bg-slate-200
          w-10 h-10 flex items-center justify-center mr-1"
                  matTooltip="Esporta in XLS"
                  type="button" (click)="_emitRowAction(null, 'xls')">
            <fa-icon [icon]="faExcel"></fa-icon>
          </button>
        }

        @if (activeFilter) {
          <button class="font-normal ease-soft-in-out text-lg text-red-500 hover:text-red-700
          rounded-2xl p-2 text-center transition-all hover:bg-slate-200
          w-10 h-10 flex items-center justify-center mr-1"
                  matTooltip="Cancella i filtri"
                  type="button" (click)="_clearFilter()">
            <fa-icon [icon]="faFilterClear"></fa-icon>
          </button>
        }

        @if (hasFilters()) {
          <button class="font-normal ease-soft-in-out text-lg text-slate-500 hover:text-slate-800
        rounded-2xl p-2 text-center transition-all hover:bg-slate-200
        w-10 h-10 flex items-center justify-center mr-1"
                  [matTooltip]="isFiltersOpen ? 'Chiudi i filtri' : 'Apri i filtri'"
                  type="button" (click)="_toggleFilter()">
            <fa-icon [icon]="faFilter"></fa-icon>
          </button>
        }

        @if (canInsert()) {
          <button class="font-normal ease-soft-in-out text-lg text-slate-500 hover:text-slate-800
          rounded-2xl p-2 text-center transition-all hover:bg-slate-200
          w-10 h-10 flex items-center justify-center"
                  matTooltip="Nuovo Documento"
                  type="button" (click)="_emitRowAction(null, 'new')">
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
        }

      </div>
    </div>

    <!-- table -->
    @if (dataSource) {
      <div class="overflow-x-auto">
        <table mat-table [dataSource]="dataSource" matSort class="w-full">

          @for (column of displayedColumns(); track column.key) {
            @if (!column.hide) {
              <ng-container [matColumnDef]="column.key" [stickyEnd]="column.stickyEnd">

                @if (column.isSortable) {
                  <th mat-header-cell *matHeaderCellDef [id]="column.key"
                      class="text-slate-400 min-w-0 flex-grow" [mat-sort-header]="column.key"
                      [class.max-w-32]="column.stickyEnd" [class.w-32]="column.stickyEnd">
                    <div class="text-xs tracking-wider uppercase mt-0.5 flex">
                      {{ column.name }}
                    </div>
                  </th>
                } @else {
                  <th mat-header-cell *matHeaderCellDef class="text-slate-400 min-w-0 flex-grow"
                      [class.max-w-32]="column.stickyEnd" [class.w-32]="column.stickyEnd">
                    <div class="text-xs tracking-wider uppercase mt-0.5 flex"
                         [class.justify-start]="column.align && column.align === ALIGN_OPTIONS.LEFT"
                         [class.justify-center]="column.align && column.align === ALIGN_OPTIONS.CENTER"
                         [class.justify-end]="column.align && column.align === ALIGN_OPTIONS.RIGHT">{{ column.name }}
                    </div>
                  </th>
                }

                <td mat-cell *matCellDef="let row; let i = index"
                    class="min-w-0 flex-grow"
                    [ngClass]="column?.className"
                    [class.max-w-32]="column.stickyEnd" [class.w-32]="column.stickyEnd">
                  <div class="w-full flex"
                       [class.justify-start]="column.align && column.align === ALIGN_OPTIONS.LEFT"
                       [class.justify-center]="column.align && column.align === ALIGN_OPTIONS.CENTER"
                       [class.justify-end]="column.align && column.align === ALIGN_OPTIONS.RIGHT">
                    @switch (column.type) {
                      @case (TYPE_OPTIONS.ID) {
                        @if (paginator) {
                          {{ i + (paginator.pageIndex * paginator.pageSize) + 1 }}
                        }
                      }
                      @case (TYPE_OPTIONS.COLOR) {
                        <div class="flex items-center">
                          <div class="w-4 h-4 rounded-full mr-2" [style.background-color]="row.color"></div>
                          <span>{{ row[column.key] }}</span>
                        </div>
                      }
                      @case (TYPE_OPTIONS.BADGE) {
                        <div class="flex items-center">
                          <span class="py-1 px-2 text-xs rounded-xl inline-block
                          whitespace-nowrap text-center
                          align-baseline font-bold uppercase leading-none text-white"
                          [style.background-color]="row[column?.dependency ?? column.key]">
                            {{ row[column.key] }}
                          </span>
                        </div>
                      }
                      @case (TYPE_OPTIONS.ICON) {
                        @if (column.icon) {
                          <button class="font-normal ease-soft-in-out text-sm text-slate-500 hover:text-slate-800
                          rounded-2xl p-2 text-center transition-all hover:bg-slate-200
                          w-10 h-10 flex items-center justify-center"
                                  (click)="_emitRowAction(row, column.key)" type="button">
                            <fa-icon [icon]="column.icon"></fa-icon>
                          </button>
                        }
                      }
                      @default {
                        {{ row[column.key] }}
                      }
                    }
                  </div>
                </td>
              </ng-container>
            }
          }

          <!-- filters -->
          @for (column of displayedColumns(); track column.key) {
            @if (!column.hide) {
              <ng-container [matColumnDef]="'_' + column.key" [stickyEnd]="column.stickyEnd">
                <th mat-header-cell *matHeaderCellDef
                    class="text-slate-400 min-w-0 flex-grow"
                    [class.max-w-32]="column.stickyEnd" [class.w-32]="column.stickyEnd">
                  <div class="text-xs font-bold tracking-wide uppercase mt-1">
                    @if (column.isFilterable) {
                      <input (click)="$event.stopPropagation()"
                             (keyup)="singleFilter($event, column.key)"
                             class="rounded-md py-1 px-3 text-sm border
                   text-slate-500 placeholder:text-slate-400
                   bg-slate-100  hover:bg-slate-300
                   border-slate-200 hover:border-slate-300
                   focus:outline-none focus:border-slate-400 shadow-sm focus:shadow
                   transition duration-300 ease"
                             [formControlName]="column.key"
                             placeholder="">
                    }
                  </div>
                </th>
              </ng-container>
            }
          }

          <ng-container matColumnDef="emptyRow">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns().length" class="text-center">
              Non ci sono dati da visualizzare
            </td>
          </ng-container>

          <!-- table headers -->
          <tr mat-header-row *matHeaderRowDef="_getColumnKeys()"></tr>

          <!-- table filters -->
          <tr mat-header-row *matHeaderRowDef="_getColumnKeys(true);"
              [class.animate__fadeInDown]="isFiltersOpen"
              [class.animate__fadeOutUp]="!isFiltersOpen"
              [class.hidden]="!isFiltersOpen">
          </tr>

          <!-- table rows -->
          <tr mat-row *matRowDef="let row; columns: _getColumnKeys()"></tr>

        </table>

        @if (dataSource.filteredData.length === 0) {
          <div class="w-full text-slate-400 text-sm py-5">
            Non ci sono dati da visualizzare
          </div>
        }

        <!-- paginator -->
        <mat-paginator [pageSize]="pageSize()" [pageSizeOptions]="pageSizeOptions()" aria-label="Select page"
                       showFirstLastButtons></mat-paginator>
      </div>
    }

  </div>
</div>
