<div class="fixed inset-0 flex items-center justify-center z-50 w-full">
    <div class="bg-white p-6 w-full h-full min-h-full">

        <!-- header -->
        <div class="w-full px-6 mb-20">

            <div class="flex items-center">
                <!-- logo -->
                <div class="flex text-left">
                  <img src="/images/logo.svg" class="inline h-full max-w-full max-h-10" alt="main_logo" width="40px" />
                </div>

                <!-- title -->
                <div class="flex-auto max-w-[1340px] mx-auto">
                  <h2 class="leading-normal text-2xl text-slate-500 text-center lg:text-left">
                    Nuova Sede
                  </h2>
                </div>

                <!-- close -->
                <div class="flex text-right">
                  <button (click)="closeDialog()">
                    <fa-icon [icon]="faTimes" class="text-5xl"></fa-icon>
                  </button>
                </div>
            </div>

        </div>

        <!-- form -->
        <div class="max-w-[1340px] mx-auto">
            <fieldset [disabled]="isLoading$ | async">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="w-full mx-auto">

                        <!-- code, name, enabled -->
                        <div class="grid grid-cols-12 gap-4 mb-4">
                            <div class="col-span-12 md:col-span-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>Codice</mat-label>
                                    <input matInput placeholder="Codice" formControlName="code"
                                           [value]="code && code.value ? code.value.toUpperCase() : null">
                                    @if (code.hasError('required')) {
                                      <mat-error>Il campo <strong>codice</strong> è obbligatorio</mat-error>
                                    }
                                </mat-form-field>
                            </div>
                            <div class="col-span-12 lg:col-span-7 md:col-span-6 text-right">
                                <mat-form-field appearance="outline">
                                    <mat-label>Nome della Sede</mat-label>
                                    <input matInput placeholder="Nome della sede" formControlName="name">
                                    @if (name.hasError('required')) {
                                      <mat-error>Il campo <strong>nome della sede</strong> è obbligatorio</mat-error>
                                    }
                                </mat-form-field>
                            </div>
                            <div class="col-span-12 lg:col-span-2 md:col-span-3 flex items-center justify-end -mt-5">
                                <mat-slide-toggle formControlName="enabled"><span class="mx-3">Sede Attiva</span></mat-slide-toggle>
                            </div>
                        </div>

                        <!-- province, city -->
                        <div class="grid grid-cols-12 gap-4 mb-4">
                            <div class="col-span-12 md:col-span-6">
                                <app-province-autocomplete
                                [currentDoc$]="province$"
                                [label]="label$()"
                                [isRequired]="required$()"
                                (selectedValid)="_onSelectedValidProvince($event)"
                                (selectedDoc)="_onSelectedProvince($event)"></app-province-autocomplete>
                            </div>
                            <div class="col-span-12 md:col-span-6">
                                <app-city-autocomplete
                                [province$]="province$"
                                [currentDoc$]="city$"
                                [isRequired]="true"></app-city-autocomplete>
                            </div>
                        </div>

                        <!-- street, zip, color -->
                        <div class="grid grid-cols-12 gap-4 mb-4">
                            <div class="col-span-12 md:col-span-6">
                                <mat-form-field appearance="outline">
                                    <mat-label>Indirizzo</mat-label>
                                    <input matInput placeholder="Indirizzo" formControlName="street">
                                    @if (street.hasError('required')) {
                                      <mat-error>Il campo <strong>indirizzo</strong> è obbligatorio</mat-error>
                                    }
                                </mat-form-field>
                            </div>
                            <div class="col-span-12 md:col-span-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>Cap</mat-label>
                                    <input matInput placeholder="Cap" formControlName="zip">
                                </mat-form-field>
                            </div>
                            <div class="col-span-12 md:col-span-3 flex items-center">
                                <mat-form-field appearance="outline">
                                    <mat-label>Colore</mat-label>
                                    <input matInput formControlName="color" />
                                    <ngx-colors
                                    class="suffix"
                                    matSuffix
                                    ngx-colors-trigger
                                    formControlName="picker"
                                    [acceptLabel]="'Seleziona'"
                                    [cancelLabel]="'Cancella'"
                                    (input)="_onColorChange($event)"
                                    ></ngx-colors>
                                    @if (color.hasError('invalidColor')) {
                                        <mat-error>Seleziona un <strong>colore</strong> valido</mat-error>
                                    }
                                    @if (color.hasError('required')) {
                                        <mat-error>Il campo <strong>colore</strong> è obbligatorio</mat-error>
                                      }
                                </mat-form-field>
                            </div>
                        </div>

                        <!-- description -->
                        <div class="grid grid-cols-1 gap-4">
                            <mat-form-field appearance="outline">
                            <mat-label>Descrizione</mat-label>
                            <textarea matInput formControlName="description" style="min-height: 150px"
                                      placeholder="Descrizione..."></textarea>
                          </mat-form-field>
                        </div>

                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" (click)="onSubmit()">
                            Button
                          </button>
                    </div>
                </form>
            </fieldset>
        </div>

    </div>
</div>
