<header>
  <div class="h-28flex flex-col justify-start items-stretch">

    <div class="h-8 min-h-8 w-full  flex pl-4 items-center">
      <app-breadcrumb></app-breadcrumb>
    </div>

    <div class="flex-1 h-20 min-h-20 w-full flex items-start">
      <div class="w-full flex justify-between">
        <!-- title -->
        <div class="text-white ml-4 mt-1">
          <h2 class="leading-normal text-2xl text-slate-500 text-center lg:text-left mt-[2px]">
            {{ title }}
          </h2>
        </div>

        <!-- menu -->
        <div class="text-white mr-4 mt-0">
          <ul class="flex flex-wrap justify-center list-none lg:justify-end">

            @if (weather.icon) {
              <li class="nav-item flex items-center relative">
                <a (click)="_toggleWeatherOverlay()" class="relative z-10 group">
                  <img [src]="'/images/weather/mono/' + weather.icon + '.svg'" [alt]="weather.description"
                       class="h-8 mr-3"/>
                </a>

                <!-- weather overlay -->
                <div class="absolute -right-5 top-10 w-60 z-50
                   bg-white shadow-2xl p-6 rounded-2xl border-2 border-gray-50
                   transition-opacity duration-400"
                     [class.opacity-100]="showWeatherOverlay"
                     [class.opacity-0]="!showWeatherOverlay">
                    <div class="flex flex-col">
                      <div>
                        <h2 class="font-bold text-gray-600 text-center">Schio</h2>
                      </div>

                      <div class="my-2">
                        <div class="flex flex-row space-x-4 items-center">
                          <div id="icon">
                            <img [src]="'/images/weather/animated/' + weather.icon + '.svg'"
                                 [alt]="weather.description"
                                 class="w-20"/>
                          </div>
                          <div id="temp" class="text-center">
                            <h4 class="text-4xl text-slate-800">{{ weather.temperature }}&deg;C</h4>
                            <p class="text-xs text-gray-500">{{ weather.temp_min }}&deg;C - {{ weather.temp_max }}&deg;C </p>
                          </div>
                        </div>
                        <div class="mt-1 text-center">
                          <span class="text-slate-800 capitalize text-sm">{{ weather.description }}</span>
                        </div>
                        <div
                          class="h-[1px] mt-3 bg-transparent bg-gradient-to-r from-transparent via-black/10 to-transparent"></div>
                        <div class="grid grid-cols-2 gap-4 mt-2 items-center">
                          <div class="text-sm text-slate-800 flex items-center">
                            <img src="/images/weather/animated/humidity.svg" class="h-8 mr-2" alt="Umidità"/>
                            {{ weather.humidity }} %
                          </div>
                          <div class="text-sm text-slate-800 flex items-center">
                            <img src="/images/weather/animated/windsock-weak.svg" class="h-8 mr-2" alt="Vento"/>
                            {{ weather.wind_speed }} m/s
                          </div>
                        </div>
                        <div
                          class="h-[1px] mt-3 bg-transparent bg-gradient-to-r from-transparent via-black/10 to-transparent"></div>
                        <div class="grid grid-cols-5 gap-2 mt-2 items-center">
                          @for (hh of forecastHours; track hh.id) {
                            <div class="flex flex-col items-center">
                              <div class="text-xxs text-slate-400">{{hh.label}}</div>
                            </div>
                          }

                          @for (fc of forecast; track fc.id) {
                            <div class="flex flex-col items-center">
                              <div class="text-xxs text-slate-500">
                                @if ( fc.icon) {
                                  <img [src]="'/images/weather/static/' + fc.icon + '.svg'" class="h-7" />{{fc.temperature}} °C
                                } @else {
                                  <span class="flex items-start h-10 text-slate-400"> {{fc.description}}</span>
                                }
                              </div>
                            </div>
                          }
                        </div>
                      </div>
                    </div>
                  </div>

              </li>
            }

            <li class="nav-item flex items-center">
              <button class="block font-normal ease-soft-in-out text-sm text-slate-500 hover:text-slate-800 mr-2
                rounded-2xl p-2 text-center transition-all "
              (click)="_toggleNotificationPanel()" type="button">
                <img
                  alt="user 1"
                  src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1480&amp;q=80"
                  class="relative inline-block h-8 w-8 rounded-full border-2 border-white object-cover object-center hover:ring-2 hover:ring-fuchsia-400 transition-all duration-300"
                />
            </button>
            </li>
            <li class="nav-item flex items-center">
              <button class="block font-bold ease-soft-in-out text-sm text-slate-500 hover:text-slate-800 mr-2
                rounded-2xl p-2 text-center transition-all
               hover:bg-slate-200 focus:bg-slate-100 active:bg-slate-100"
              (click)="_toggleNotificationPanel()" type="button">
                <fa-icon [icon]="faUser" class="mr-2"></fa-icon>
                Log Out
            </button>
            </li>
            <li class="nav-item flex items-center">
              <button class="block font-normal ease-soft-in-out text-sm text-slate-500 hover:text-slate-800 mr-2
                rounded-2xl p-2 text-center transition-all
               hover:bg-slate-200 focus:bg-slate-100 active:bg-slate-100"
              (click)="_toggleNotificationPanel()" type="button">
                <fa-icon [icon]="faGear"></fa-icon>
            </button>
            </li>
            <li class="nav-item flex items-center">
              <button
                class="relative block font-normal ease-soft-in-out text-sm text-slate-500 hover:text-slate-800 mr-2
                           rounded-2xl p-2 text-center transition-all
                           hover:bg-slate-200 focus:bg-slate-100 active:bg-slate-100"
                (click)="_toggleNotificationPanel()"
                type="button"
              >
                <fa-icon [icon]="faBell"></fa-icon>
                <span
                  class="absolute top-1 right-1 w-1.5 h-1.5 bg-red-500 rounded-full"
                ></span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
