<!-- sidenav  -->
<aside class="max-w-60 z-990 fixed inset-y-0 m-0 transition-width duration-400"
       [class.w-20]="isSidebarMinimized"
       [class.closed]="isSidebarMinimized"
       [class.w-60]="!isSidebarMinimized"
       [@toggleSidebar]="isSidebarMinimized ? 'open' : 'closed'">
  <div class="h-28 flex items-center justify-end">
    <div class="m-0 p-0 mx-3 w-full text-center">
      <div class="transition">
        <img src="/images/logo.svg" class="inline max-w-full h-auto max-h-10 scale-100" alt="Hive App Logo"/>
      </div>
    </div>
    <div class="m-0 p-0 mt-[8px]">
      <button (click)="toggleSidebar()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
        class="w-6 h-6 text-slate-400">
          <path #iconPath stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
    </button>
    </div>
  </div>

  <div class="h-[1px] mt-0 bg-transparent bg-gradient-to-r from-transparent via-black/10 to-transparent"></div>

  <div class="items-center block w-auto overflow-autogrow basis-full">
    <ul class="flex flex-col pl-0 mb-0">
      
      @for (item of menuItems; track item) {
        <li class="mt-5 w-full">
          <a #menuLink class="text-sm ease-nav-brand my-0 mx-4 flex items-center whitespace-nowrap px-4 transition-colors"
             [routerLink]="item.link">
            <div class="icon-container shadow-md shadow-slate-400 w-8 min-w-8 h-8 mr-2 bg-white text-slate-500 rounded-md flex items-center justify-center
                 hover:scale-110 hover:shadow-lg hover:duration-300">
              <fa-icon [icon]="item.icon"></fa-icon>
            </div>
            <span #menuText class="ml-1 menu-text">{{ item.label }}</span>
          </a>
        </li>
      }
      
    </ul>
  </div>
</aside>

<main class="h-screen flex flex-col transition-all duration-400 ease-in-out"
      [class.ml-20]="isSidebarMinimized"
      [class.ml-60]="!isSidebarMinimized">
  <app-header></app-header>
  <div class="w-full px-5 mx-auto mt-0 mb-5 h-screen-minus-160">
    <router-outlet/>
  </div>
  <app-footer></app-footer>
</main>
