:host {
    @apply bg-gradient-to-r from-slate-300 to-slate-100 h-screen flex-col flex;
}

.closed .transition {
  animation: scaleDown 0.3s ease-in-out forwards;
}

@keyframes scaleDown {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.75); /* Adatta il valore in base alla scala desiderata */
  }
}

.hidden-text {
  opacity: 0;
  transform: scale(0); /* Rimpicciolisce il testo */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Transizione graduale */
}

/* Transizione standard per il testo */
span {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

a {
  transition: transform 0.3s ease;
}

.translate-4 {
  transform: translateX(0); /* posizione iniziale con margine mx-4 */
}

.translate-1 {
  transform: translateX(-12px); /* compensazione per ridurre l'effetto di margine mx-4 a mx-1 */
}

body.notification-open .main-content {
  transform: translateX(-20rem); /* Adatta a seconda della larghezza del centro notifiche */
  transition: transform 0.3s ease-in-out;
}
