<div class="fixed inset-0 flex items-center justify-center z-50 w-full">
  <div class="bg-white p-6 w-full h-full min-h-full">

    <!-- header -->
    <div class="w-full px-6 mb-20">

      <div class="flex items-center">
        <!-- logo -->
        <app-edit-logo></app-edit-logo>

        <!-- title -->
        <div class="flex-auto max-w-[1340px] mx-auto">
          <h2 class="leading-normal text-2xl text-slate-500 text-center lg:text-left">
            {{ formTitle }}
          </h2>
        </div>

        <!-- close -->
        <app-dialog-close-button (close)="closeDialog()"></app-dialog-close-button>

      </div>

    </div>

    <!-- form -->
    <div class="max-w-[1340px] mx-auto">
      <fieldset [disabled]="isLoading$ | async">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="w-full mx-auto">

            <!-- code, name, color -->
            <div class="grid grid-cols-12 gap-4 mb-4">
              <div class="col-span-12 md:col-span-3">
                <mat-form-field appearance="outline">
                  <mat-label>Codice</mat-label>
                  <input matInput placeholder="Codice" formControlName="code"
                         [value]="code && code.value ? code.value.toUpperCase() : null"
                         [readonly]="isReadOnly">
                  @if (code.hasError('required')) {
                    <mat-error>Il campo <strong>codice</strong> è obbligatorio</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-span-12 lg:col-span-7 md:col-span-6 text-right">
                <mat-form-field appearance="outline">
                  <mat-label>Causale</mat-label>
                  <input matInput placeholder="Nome della causale" formControlName="name">
                  @if (name.hasError('required')) {
                    <mat-error>Il campo <strong>causale</strong> è obbligatorio</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-span-12 lg:col-span-2 md:col-span-3 flex items-center justify-end">
                <mat-form-field appearance="outline">
                  <mat-label>Colore</mat-label>
                  <input matInput formControlName="color"/>
                  <ngx-colors
                    class="suffix"
                    matSuffix
                    ngx-colors-trigger
                    formControlName="picker"
                    [acceptLabel]="'Seleziona'"
                    [cancelLabel]="'Cancella'"
                    (input)="_onColorChange($event)"
                  ></ngx-colors>
                  @if (color.hasError('invalidColor')) {
                    <mat-error>Seleziona un <strong>colore</strong> valido</mat-error>
                  }
                  @if (color.hasError('required')) {
                    <mat-error>Il campo <strong>colore</strong> è obbligatorio</mat-error>
                  }
                </mat-form-field>
              </div>
            </div>

            <!-- buttons -->
            <div class="grid grid-cols-1 gap-4">
              <div class="col-span-1 text-right">
                <button class="px-4 py-2
                  w-auto
                  bg-gradient-to-r from-fuchsia-500 to-pink-500
                  hover:bg-gradient-to-l hover:from-pink-500 hover:to-fuchsia-500
                  shadow-lg hover:shadow-2xl
                  hover:scale-102 active:scale-95
                  font-bold text-center text-white uppercase text-xs
                  border-0 rounded-3xl
                  transition-all duration-300 ease-out
                  disabled:opacity-50 disabled:cursor-not-allowed"
                        [disabled]="!form.valid">
                  Salva
                </button>
              </div>
            </div>
          </div>
        </form>
      </fieldset>
    </div>

  </div>
</div>

