<mat-form-field appearance="outline">
    <mat-label>{{label()}} @if (isRequired()) {*}</mat-label>
    <input type="text"
         aria-label="docId"
         matInput
         [placeholder]="placeholder()"
         [formControl]="docCtrl"
         [matAutocomplete]="docAutocomplete"
         (keyup)="_onKeyUp($event)">

         @if (docCtrl.value && isEnabled()) {
            <button matSuffix mat-icon-button type="button"
                    aria-label="Clear" matTooltip="'Cancella la Selezione'"
                    (click)="_remove()" tabindex="-1">
              <mat-icon>close</mat-icon>
            </button>
          }

    <mat-autocomplete #docAutocomplete="matAutocomplete"
                    (optionSelected)="_onSelectionChange($event)"
                    [displayWith]="displayFn.bind(this)">

      @for (doc of filteredDocs | async; track doc.istat) {
        <mat-option [value]="doc.istat">
          <span>{{doc.comune}}</span>
          <small class="greyText"> | {{doc.provincia}} | {{doc.istat}}</small>
        </mat-option>
      }
    </mat-autocomplete>

    @if (docCtrl.hasError('required')) {
        <mat-error [innerHTML]="requiredError()"></mat-error>
    }

    @if (docCtrl.hasError('requireMatch')) {
        <mat-error [innerHTML]="matchError()"></mat-error>
    }
</mat-form-field>

