<div class="fixed inset-0 flex items-center justify-center z-50 w-full">
  <div class="bg-white p-6 w-full h-full min-h-full">

    <!-- header -->
    <div class="w-full px-6 mb-20">

      <div class="flex items-center">
        <!-- logo -->
        <app-edit-logo></app-edit-logo>

        <!-- title -->
        <div class="flex-auto max-w-[1340px] mx-auto">
          <h2 class="leading-normal text-2xl text-slate-500 text-center lg:text-left">
            {{ formTitle }}
          </h2>
        </div>

        <!-- close -->
        <div class="flex justify-end">
          <button (click)="closeDialog()"
                  class="group w-12 h-12 rounded-full bg-slate-100 hover:bg-red-500 hover:scale-110
                  transition duration-300 ease-in-out flex items-center justify-center">
            <fa-icon [icon]="faTimes" class="text-gray-600 group-hover:text-white text-2xl"></fa-icon>
          </button>
        </div>

      </div>

    </div>

    <!-- form -->
    <div class="max-w-[1340px] mx-auto">
      <fieldset [disabled]="isLoading$ | async">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="w-full mx-auto">

            <!-- code, name, enabled -->
            <div class="grid grid-cols-12 gap-4 mb-4">
              <div class="col-span-12 md:col-span-3">
                <mat-form-field appearance="outline">
                  <mat-label>Codice</mat-label>
                  <input matInput placeholder="Codice" formControlName="code"
                         [value]="code && code.value ? code.value.toUpperCase() : null"
                         [readonly]="isReadOnly">
                  @if (code.hasError('required')) {
                    <mat-error>Il campo <strong>codice</strong> è obbligatorio</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-span-12 lg:col-span-7 md:col-span-6 text-right">
                <mat-form-field appearance="outline">
                  <mat-label>Nome della Sede</mat-label>
                  <input matInput placeholder="Nome della sede" formControlName="name">
                  @if (name.hasError('required')) {
                    <mat-error>Il campo <strong>nome della sede</strong> è obbligatorio</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-span-12 lg:col-span-2 md:col-span-3 flex items-center justify-end -mt-5">
                <mat-slide-toggle formControlName="enabled"><span class="mx-3">Sede Attiva</span></mat-slide-toggle>
              </div>
            </div>

            <!-- phone, email -->
            <div class="grid grid-cols-12 gap-4 mb-4">
              <div class="col-span-12 md:col-span-6">
                <mat-form-field appearance="outline">
                  <mat-label>Telefono</mat-label>
                  <input matInput placeholder="Telefono" formControlName="phone" mask="000 000 0009 9">
                </mat-form-field>
              </div>
              <div class="col-span-12 md:col-span-6">
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Email" formControlName="email"
                         [value]="email && email.value ? email.value.toLowerCase() : null">
                  @if (email.hasError('email')) {
                    <mat-error>Inserisci una <strong>email</strong> valida</mat-error>
                  }
                </mat-form-field>
              </div>
            </div>

            <!-- province, city -->
            <div class="grid grid-cols-12 gap-4 mb-4">
              <div class="col-span-12 md:col-span-6">
                <app-province-autocomplete
                  [(doc$)]="province$"
                  [(isValid$)]="isProvinceValid$"
                  [isRequired]="required$()"></app-province-autocomplete>
              </div>
              <div class="col-span-12 md:col-span-6">
                <app-city-autocomplete
                  [province$]="province$()"
                  [(doc$)]="city$"
                  [isRequired]="required$()"></app-city-autocomplete>
              </div>
            </div>

            <!-- street, zip, color -->
            <div class="grid grid-cols-12 gap-4 mb-4">
              <div class="col-span-12 md:col-span-6">
                <mat-form-field appearance="outline">
                  <mat-label>Indirizzo</mat-label>
                  <input matInput placeholder="Indirizzo" formControlName="street">
                  @if (street.hasError('required')) {
                    <mat-error>Il campo <strong>indirizzo</strong> è obbligatorio</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-span-12 md:col-span-3">
                <mat-form-field appearance="outline">
                  <mat-label>Cap</mat-label>
                  <input matInput placeholder="Cap" formControlName="zip">
                </mat-form-field>
              </div>
              <div class="col-span-12 md:col-span-3 flex items-center">
                <mat-form-field appearance="outline">
                  <mat-label>Colore</mat-label>
                  <input matInput formControlName="color"/>
                  <ngx-colors
                    class="suffix"
                    matSuffix
                    ngx-colors-trigger
                    formControlName="picker"
                    [acceptLabel]="'Seleziona'"
                    [cancelLabel]="'Cancella'"
                    (input)="_onColorChange($event)"
                  ></ngx-colors>
                  @if (color.hasError('invalidColor')) {
                    <mat-error>Seleziona un <strong>colore</strong> valido</mat-error>
                  }
                  @if (color.hasError('required')) {
                    <mat-error>Il campo <strong>colore</strong> è obbligatorio</mat-error>
                  }
                </mat-form-field>
              </div>
            </div>

            <!-- description -->
            <div class="grid grid-cols-1 gap-4">
              <mat-form-field appearance="outline">
                <mat-label>Descrizione</mat-label>
                <textarea matInput formControlName="description" style="min-height: 150px"
                          placeholder="Descrizione..."></textarea>
              </mat-form-field>
            </div>

            <!-- buttons -->
            <div class="grid grid-cols-2 gap-4">

              <div class="col-span-2 md:col-span-1">
                <button type="button" class="px-4 py-2 mr-2
                  bg-transparent
                  text-slate-500
                  hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-r hover:from-fuchsia-500 hover:to-pink-500
                  hover:shadow-lg
                  hover:scale-102 active:scale-95
                  font-bold text-center uppercase text-xs
                  border-0 rounded-3xl
                  transition-all duration-300 ease-out
                  disabled:opacity-50 disabled:cursor-not-allowed"
                        (click)="_openMap()">
                  Visualizza nella Mappa
                </button>
              </div>
              <div class="col-span-2 md:col-span-1 text-right">
                <button class="px-4 py-2
                  w-auto
                  bg-gradient-to-r from-fuchsia-500 to-pink-500
                  hover:bg-gradient-to-l hover:from-pink-500 hover:to-fuchsia-500
                  shadow-lg hover:shadow-2xl
                  hover:scale-102 active:scale-95
                  font-bold text-center text-white uppercase text-xs
                  border-0 rounded-3xl
                  transition-all duration-300 ease-out
                  disabled:opacity-50 disabled:cursor-not-allowed"
                        [disabled]="!form.valid">
                  Salva
                </button>
              </div>
            </div>
          </div>
        </form>
      </fieldset>
    </div>

  </div>
</div>
