<div class="fixed inset-0 flex items-center justify-center z-50 w-full">
  <div class="bg-white p-6 w-full h-full min-h-full">

    <!-- header -->
    <div class="w-full px-6 mb-20">

      <div class="flex items-center">
        <!-- logo -->
        <app-edit-logo></app-edit-logo>

        <!-- title -->
        <div class="flex-auto max-w-[1340px] mx-auto">
          <h2 class="leading-normal text-2xl text-slate-500 text-center lg:text-left">
            {{ formTitle }}
          </h2>
        </div>

        <!-- close -->
        <app-dialog-close-button (close)="closeDialog()"></app-dialog-close-button>
      </div>

    </div>

    <!-- form -->
    <div class="max-w-[1340px] mx-auto">
      <fieldset [disabled]="isLoading$ | async">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="w-full mx-auto">

            <!-- type, title -->
            <div class="grid grid-cols-12 gap-4 mb-4">
              <div class="col-span-12 md:col-span-3">
                <app-type-select [isRequired]="true" [isEnabled]="!isLoading$" [(doc$)]="shiftId$" [(shift$)]="shift$"></app-type-select>
              </div>
              <div class="col-span-12 md:col-span-9">
                <mat-form-field appearance="outline">
                  <mat-label>Titolo</mat-label>
                  <input matInput placeholder="Titolo" formControlName="title">
                  @if (title.hasError('required')) {
                    <mat-error>Il campo <strong>titolo</strong> è obbligatorio</mat-error>
                  }
                </mat-form-field>
              </div>
            </div>

            <!-- rooms -->
            <div class="grid grid-cols-1 mb-4">
              <div class="col-span-1">
                <app-room-chip [(doc$)]="rooms$" [isRequired]="true" [isEnabled]="!isLoading$"></app-room-chip>
              </div>
            </div>

            <!-- date, from, to, duration -->
            <div class="grid grid-cols-12 gap-4 mb-4">
              <div class="col-span-12 md:col-span-3">
                <mat-form-field appearance="outline">
                  <mat-label>Data</mat-label>
                  <input matInput [matDatepicker]="dp" formControlName="date">
                  <mat-hint>GG/MM/AAAA</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
                  <mat-datepicker #dp></mat-datepicker>
                  @if (date.hasError('required')) {
                    <mat-error>Il campo <strong>data</strong> è obbligatorio</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-span-12 md:col-span-3">
                <mat-form-field appearance="outline">
                  <mat-label>Inizio</mat-label>
                  <input type="time" matInput placeholder="Ora d\'inizio" formControlName="from"
                         (change)="calculateDuration()" [readonly]="isReadOnly">
                  @if (from.hasError('required')) {
                    <mat-error>Il campo <strong>inizio</strong> è obbligatorio</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-span-12 md:col-span-3">
                <mat-form-field appearance="outline">
                  <mat-label>Fine</mat-label>
                  <input type="time" matInput placeholder="Ora di fine" formControlName="to"
                         (change)="calculateDuration()" [readonly]="isReadOnly">
                  @if (to.hasError('required')) {
                    <mat-error>Il campo <strong>fine</strong> è obbligatorio</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-span-12 md:col-span-3">
                <mat-form-field appearance="outline">
                  <mat-label>Durata</mat-label>
                  <input matInput placeholder="Durata" [value]="duration()" readonly>
                  <span matTextSuffix="">&nbsp;{{ labelDuration }}</span>
                </mat-form-field>
              </div>
            </div>

            <!-- customer, code, allDay -->
            <div class="grid grid-cols-12 gap-4 mb-4">
              <div class="col-span-12 md:col-span-6 flex items-center">
                <mat-form-field appearance="outline">
                  <mat-label>Cliente</mat-label>
                  <input matInput placeholder="Cliente" formControlName="customerId">
                </mat-form-field>
              </div>
              <div class="col-span-12 md:col-span-3">
                <mat-form-field appearance="outline">
                  <mat-label>Codice</mat-label>
                  <input matInput placeholder="Codice" formControlName="code" readonly
                         [value]="code && code.value ? code.value.toUpperCase() : null">
                </mat-form-field>
              </div>
              <div class="col-span-12 lg:col-span-3 md:col-span-3 flex items-center justify-end -mt-5">
                <mat-slide-toggle formControlName="allDay"
                                  (change)="_toggleAllDay($event)">
                  <span class="mx-3">Tutto il giorno</span>
                </mat-slide-toggle>
              </div>
            </div>

            <!-- description -->
            <div class="grid grid-cols-1 gap-4">
              <mat-form-field appearance="outline">
                <mat-label>Descrizione</mat-label>
                <textarea matInput formControlName="description" style="min-height: 100px"
                          placeholder="Descrizione..."></textarea>
              </mat-form-field>
            </div>

            <!-- buttons -->
            <div class="grid grid-cols-2 gap-4">

              <div class="col-span-2 md:col-span-1">

              </div>
              <div class="col-span-2 md:col-span-1 text-right">
                <button class="px-4 py-2
                  w-auto
                  bg-gradient-to-r from-fuchsia-500 to-pink-500
                  hover:bg-gradient-to-l hover:from-pink-500 hover:to-fuchsia-500
                  shadow-lg hover:shadow-2xl
                  hover:scale-102 active:scale-95
                  font-bold text-center text-white uppercase text-xs
                  border-0 rounded-3xl
                  transition-all duration-300 ease-out
                  disabled:opacity-50 disabled:cursor-not-allowed"
                        [disabled]="!form.valid">
                  Salva
                </button>
              </div>
            </div>
          </div>
        </form>
      </fieldset>
    </div>

  </div>
</div>

