<footer>
  <div class="flex flex-wrap items-center lg:justify-between">
    <!-- copy -->
    <div class="shrink-0 px-5 lg:w-1/3 lg:flex-none">
      <div class="leading-normal text-center text-sm text-slate-500 lg:text-left">
        copyright © {{ year }},
        <a href="https://www.pasubiotecnologia.it" class="ml-2 font-semibold text-slate-700" target="_blank">Pasubio
          Tecnologia</a>
      </div>
    </div>
    <!-- version -->
    <div
      class="w-full max-w-full px-3 mt-0 mb-6 shrink-0 lg:mb-0 lg:w-1/3 lg:flex-none text-center text-sm text-slate-500">
      Hive {{ version }}
    </div>
    <!-- link -->
    <div class="w-full max-w-full px-3 mt-0 shrink-0 lg:w-1/3 lg:flex-none">
      <ul class="flex flex-wrap justify-center pl-0 mb-0 list-none lg:justify-end">
        <li class="nav-item">
          <a href="#" class="block px-4 pt-0 pb-1 font-normal transition-colors ease-soft-in-out text-sm text-slate-500"
             target="_blank">Privacy</a>
        </li>
        <li class="nav-item">
          <a href="#" class="block px-4 pt-0 pb-1 font-normal transition-colors ease-soft-in-out text-sm text-slate-500"
             target="_blank">Documentazione</a>
        </li>
        <li class="nav-item">
          <a href="#" class="block px-4 pt-0 pb-1 font-normal transition-colors ease-soft-in-out text-sm text-slate-500"
             target="_blank">Contatti</a>
        </li>
      </ul>
    </div>
  </div>
</footer>

