@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'grapesjs/dist/css/grapes.min.css';
@import 'quill/dist/quill.snow.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mdc-switch-track-height: 2rem;
  --mdc-switch-track-width: 80px;
  --mdc-switch-track-shape: 12px;
  --mdc-switch-selected-icon-size: 28px;
  --mdc-switch-unselected-icon-size: 28px;
  --mat-switch-with-icon-handle-size: 32px !important;
  --mdc-switch-handle-shape: 16px;
  --mdc-switch-selected-icon-color: #ffffff;
  --tw-ring-color: none !important;
}

[type=text]:focus, input:where(:not([type])):focus, [type=email]:focus, [type=url]:focus, [type=password]:focus,
[type=number]:focus, [type=date]:focus, [type=datetime-local]:focus, [type=month]:focus, [type=search]:focus,
[type=tel]:focus, [type=time]:focus, [type=week]:focus, [multiple]:focus, textarea:focus, select:focus {
  --tw-ring-color: none !important;
}
body {
  margin: 0;
  // @apply bg-gradient-to-r from-slate-300 to-slate-100 h-screen flex-col flex;
}

*, ::before, ::after {
  border-style: none;
}

.comfortaa-text {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.border-element {
  border-style: solid;
  border-bottom-width: 1px;
}

.mat-mdc-form-field {
  width: 100% !important;
  --tw-ring-color: none !important;
}

.app-color-picker {
  margin-right: .5rem !important;
}

.mdc-switch--selected .mdc-switch__icon {
  width: var(--mdc-switch-selected-icon-size);
  height: var(--mdc-switch-selected-icon-size);
  fill: rgba($color: #ffffff, $alpha: 0.8) !important;
}

.mat-mdc-slide-toggle .mdc-switch__handle:has(.mdc-switch__icons) {
  width: 32px !important;
  height: 32px !important;
}

.bg-gradient-fuchsia {
  background-image: linear-gradient(310deg, #7928ca, #ff0080);
}

.hover\:bg-gradient-fuchsia-reverse:hover {
  background-image: linear-gradient(310deg, #ff0080, #7928ca);
}

.gradient-text {
  background: linear-gradient(90deg, #7928ca, #ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.shadow-soft-md {
  --tw-shadow: 0 4px 7px -1px rgba(0, 0, 0, .11), 0 2px 4px -1px rgba(0, 0, 0, .07);
  --tw-shadow-colored: 0 4px 7px -1px var(--tw-shadow-color), 0 2px 4px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.hover\:shadow-soft-2xl:hover {
  --tw-shadow: 0 .3125rem .625rem 0 rgba(0, 0, 0, .12);
  --tw-shadow-colored: 0 .3125rem .625rem 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.bg-x-25 {
  background-position: 25% 0;
}

.bg-150 {
  background-size: 150%;
}

.mat-mdc-table, .mat-mdc-paginator {
  background-color: transparent !important;
}

.mat-mdc-paginator-page-size {
  max-width: 120px;
}

.mat-mdc-header-cell {
  text-align: unset;
}

.cdk-overlay-dark-backdrop {
  background: rgba(255, 255, 255, .32);
  backdrop-filter: blur(3px);
}

.translate-4 {
  transform: translateX(0); /* posizione iniziale con margine mx-4 */
}

.translate-1 {
  transform: translateX(-16px); /* compensazione per ridurre l'effetto di margine mx-4 a mx-1 */
}

ul[ngClass] {
  // transition: max-height 0.3s ease, opacity 0.3s ease;
}

.icon-container {
  width: 2rem; /* Larghezza minima quando chiusa */
  min-width: 2rem;
  height: 2rem;
  transition: all 0.3s ease;
  overflow: visible;
}

.chevron {
  right: 0.5rem; /* Posiziona il chevron a destra */
}

input:where(:not([type])), [multiple], select {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
