<div class="relative flex flex-col justify-center items-center" style="min-height: calc(100vh - 12rem);">
  <div class="max-w-xl mx-auto sm:px-6 lg:px-8">
    <div class="flex items-center pt-8 sm:justify-start sm:pt-0">
      <div class="text-lg text-slate-500 border-r border-gray-400 tracking-wider">
        404 | </div>
      <div class="ml-5 text-lg text-slate-500 uppercase tracking-wider">
        Not Found </div>
    </div>
    <div class="flex items-center text-slate-400 tracking-wider mt-5">
      There are more things in heaven and earth, Horatio,
      Than are dreamt of in your philosophy
    </div>
    <div class="flex items-center text-slate-400 tracking-wider mt-3 font-bold">
      Keep searching...
    </div>
  </div>
</div>
