<div class="fixed inset-0 flex items-center justify-center z-50 w-full">
  <div class="bg-white p-6 w-full h-full min-h-full">

    <!-- header -->
    <div class="w-full px-6 mb-20">
      <div class="flex items-center">
        <!-- logo -->
        <app-edit-logo></app-edit-logo>

        <!-- title -->
        <div class="flex-auto max-w-[1340px] mx-auto">
          <h2 class="leading-normal text-2xl text-slate-500 text-center lg:text-left">
            {{ formTitle }}
          </h2>
        </div>

        <!-- close -->
        <div class="flex justify-end">
          <button (click)="closeDialog()"
                  class="group w-12 h-12 rounded-full bg-slate-100 hover:bg-red-500 hover:scale-110
                  transition duration-300 ease-in-out flex items-center justify-center">
            <fa-icon [icon]="faTimes" class="text-gray-600 group-hover:text-white text-2xl"></fa-icon>
          </button>
        </div>
      </div>
    </div>

    <!-- form -->
    <div class="max-w-[1340px] mx-auto">
      <fieldset [disabled]="isLoading$ | async">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="w-full mx-auto">

            <!-- name, description -->
            <div class="grid grid-cols-12 gap-4 mb-4">
              <div class="col-span-12 text-right">
                <mat-form-field appearance="outline">
                  <mat-label>Lista</mat-label>
                  <input matInput placeholder="Lista" formControlName="name">
                  @if (name.hasError('required')) {
                    <mat-error>La <strong>lista</strong> è obbligatoria</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-span-12 flex items-center">
                <mat-form-field appearance="outline">
                  <mat-label>Descrizione</mat-label>
                  <textarea matInput formControlName="description" style="min-height: 150px"
                            placeholder="Descrizione..."></textarea>
                </mat-form-field>
              </div>
            </div>

            <!-- buttons -->
            <div class="col-span-2 md:col-span-1 text-right">
              <button class="px-4 py-2
                  w-auto
                  bg-gradient-to-r from-fuchsia-500 to-pink-500
                  hover:bg-gradient-to-l hover:from-pink-500 hover:to-fuchsia-500
                  shadow-lg hover:shadow-2xl
                  hover:scale-102 active:scale-95
                  font-bold text-center text-white uppercase text-xs
                  border-0 rounded-3xl
                  transition-all duration-300 ease-out
                  disabled:opacity-50 disabled:cursor-not-allowed"
                      [disabled]="!form.valid">
                Salva
              </button>
            </div>

          </div>
        </form>
      </fieldset>
    </div>

  </div>
</div>


